.btn {
	border: none;
	border-radius: 3px;
	background: $color__dark_teal;
	color: #fff;
	padding: 10px 15px;
	font-size: 16px;
	.faint {
		color: rgba(255,255,255,.5);
	}
	&:hover, &:active {
		background: $color__teal;
		color: #fff;
	}
	&.btn-circle {
  		border: 1px solid $color__teal;
  		border-radius: 55px;
  		color: $color__teal;
  		background: transparent;
  		padding: 14px 36px;
  		text-transform: uppercase;
  		margin: 30px auto;
  		width: 190px;
  		display: block;
  		transition: all 0.4s;

  		&:hover {
  			background: $color__teal;
  			color: white;
  		}
	}
}
