
// Colors //

$color__teal:			#17c6b9;
$color__dark_teal:		#169a90;
$color__salmon:         #f4645f;
$color__darker_salmon:  #e74430;
$color__faint:          #f0f2f1;
$color__gray:           #4a4a4a;
$color__light_gray:     #aeaeae;
$color__lighter_gray:   #b0b4bd;

// Fonts //

$font_serif:      'PT Serif', serif;
$font:            'Source Sans Pro', sans-serif;
$font_optima:	  'optima', serif;
